body{
	background: #E9EAE9;
}
.container{
	width: 100%;
	margin: 0 60px;
	max-width: 1100px;
}

.cv_header{
	border: 2px solid #231F1E;
	text-align: center;
	width: 200px;
	background: #231F1E;
	color: white;
}

/*aside*/

img#avatar{
	width: 180px;
	margin:10px 40px;
}

.aside_main{
	border: 2px solid #231F1E;
	width: 200px;
	background: #231F1E;
}

.aside_content{
	margin-left: -30px;
	font-size: 14px; 
	color: white;
}

aside{
    width: 40%;
    float: left;
}

ul{
	list-style-type: none; 
}

p {
    margin-left: 40px;
}

/*main*/

section{
	margin: 0 300px;
}
.section_content{
	padding: 10px 20px;
	width: 900px;
	position: absolute;
}

section > p{
	font-size: 14px;
}

.headers_section{
	margin-bottom: -10px;
	margin-top: -11px;
}

pre{
	background: #F5F5F5; 
	margin-top: 250px; 
	margin-left: 320px;  
	margin-right: 100px;
}
